- if @image_processor.errors.present?
  = @image_processor.errors.full_messages.join("<br />").html_safe

%table
  %tr
    - if @image_processor.source_image.present?
      %td
        %h4= "Source Image"
    - if @image_processor.processed_image.present?
      %td
        %h4= "Processed Image"
  %tr
    - if @image_processor.source_image.present?
      %td
        = image_tag @image_processor.source_image.url(:medium), class: "image source-image"
    - if @image_processor.processed_image.present?
      %td
        = image_tag @image_processor.processed_image.url(:original), class: "image processed-image", style: "display: none; width: 400px;"

= form_for @image_processor, remote: true, :html => {:format => "js", :class => 'form-horizontal form-model' } do |f|
  -#.form-group{style: @image_processor.type.present? ? "" : "display: none;"}
  .form-group
    = f.label :source_image, :class => 'control-label source-image-input col-md-2'
    .col-md-10
      = f.file_field :source_image
  .form-group
    = f.label :type, "Processor Type", :class => 'control-label col-md-2'
    .col-md-10
      =# collection_select(:image_processor, :type, ImageProcessor::TYPES)
      = select_tag 'image_processor[type]', options_for_select([""] + ImageProcessor::TYPES, @image_processor.type)
      =# f.input :type, as: :select, include_blank: true

  - if @image_processor.type.present?
    = render partial: "#{@image_processor.type.split('::').last.underscore}_options", locals: {:f => f}

- if false#@image_processor.processed_image.present?
  = button_to "Download Processed Image", "#"




:javascript
  $(document).ready(function(){
    //$("select[name='image_processor[hotel_ids]']").chosen();
    // $(".chosen").chosen();
    // $(".minicolors").minicolors();
    $(".range-input").on("change", function(){
      $(this).append($(this).val());
    });
    $(".color-to-transparent-option1-input").on("focus", function(e){
      e.preventDefault();
    });
    // $('img.source-image').dropper({
    //   clickCallback: function(color) {
    //     $(".color-to-transparent-option1-input").val("#" + color.rgbhex);
    //     $(".color-to-transparent-option1-input").trigger("change");
    //   }
    // });
    $(".processed-image").fadeIn('slow');
    $(":input").on("change", function(){
      $(".processed-image").fadeOut('slow');
      $(this).closest("form").submit();
    });
    // TODO: look at this too https://github.com/sstrudeau/jquery-dropper
  });
